{% extends "header.html" %}
{% block content %}


<center>
<iframe  type="text/html" width="640" height="385"
  src="https://www.youtube.com/embed/4y3MizFTSLc" frameborder="0" allowfullscreen>
</iframe>
<br>
<br>
    <h2>INTRODUCTION</h2>
</center>

<p class="lead">The Center for Phage Technology studies bacterial viruses with the aim of developing therapies to treat antibiotic resistant bacterial infections, a growing problem in human medicine. They have to identify and catalog a large library of these bacteriophage and in doing so, the team generates an immense amount of data that must be available and accessed in a reasonable way by their researchers.</p>
<p class="lead">Currently, this data is not centralized in a meaningful way and it is increasingly difficult to track where a given phage is in the identification and development process. As they expand the library of phage, this problem will grow to become more and more unmanageable. So a system like the proposed Phage DB project will allow them to store, categorize, and analyze the data more intelligently and easily. Providing an intuitive UI will allow their researchers to interact with the system more regularly and streamline the data storage, allowing more focus on the science over the bookkeeping.</p>



{% endblock %}
