{% extends "homeapp/header.html" %}

{% block content %}
<h2>Phages</h2>

<table class="table-bordered table-responsive">
    <tr>
        <th style="padding: 10px;">Phage Name</th>
        <th style="padding: 10px;">Host Name</th>
        <th style="padding: 10px;">Isolator Name</th>
        <th style="padding: 10px;">Experimenter Name</th>
        <th style="padding: 10px;">CPT Id</th>
        <th style="padding: 10px;">Isolator Location</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td style="padding: 8px;">{{ item.phage_name }}</td>
        <td style="padding: 8px;">{{ item.phage_host_name }}</td>
        <td style="padding: 8px;">{{ item.phage_isolator_name }}</td>
        <td style="padding: 8px;">{{ item.phage_experimenter_name }}</td>
        <td style="padding: 8px;">{{ item.phage_CPT_id }}</td>
        <td style="padding: 8px;">{{ item.phage_isolator_loc }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}